Checks: "clang-diagnostic-*,\
  clang-analyzer-*,\
  cppcoreguidelines-*,\
  google-*,\
  modernize-*,\
  misc-*,\
  readability-*,\
  performance-*,\
  portability-*,\
  -cppcoreguidelines-special-member-functions,\
  -cppcoreguidelines-narrowing-conversions,\
  -readability-identifier-length,\
  -modernize-use-trailing-return-type,\
  -readability-magic-numbers,\
  -cppcoreguidelines-avoid-magic-numbers,\
  -readability-uppercase-literal-suffix,\
  -cppcoreguidelines-owning-memory,\
  -google-readability-braces-around-statements,\
  -readability-braces-around-statements,\
  -readability-else-after-return,\
  -readability-function-cognitive-complexity,\
  -readability-named-parameter,\
  -readability-math-missing-parentheses"

HeaderFilterRegex: '**/Source/*\.(hpp|h)'
